.table-div {
  overflow-x: auto;
}

.table-div table {
  table-layout: fixed;
  width: 100%;  /* or a specific width like 60rem */
}

.table-div table th:nth-child(1),
.table-div table td:nth-child(1) {
  min-width: 10rem;
}

.table-div table th:nth-child(2),
.table-div table td:nth-child(2) {
  min-width: 15rem;
}

.table-div table th:nth-child(3),
.table-div table td:nth-child(3) {
  min-width: 10rem;
}

.table-div table th:nth-child(4),
.table-div table td:nth-child(4) {
  min-width: 15rem;
}

.table-div table th:nth-child(5),
.table-div table td:nth-child(5) {
  min-width: 15rem;
}

.table-div table th:nth-child(6),
.table-div table td:nth-child(6) {
  min-width: 25rem;
}